<div class="dialog">
    <div class="header">
        <div class="title">{{title}}</div>
        <div class="close"><a (click)="onclose.emit()"><i class="mdi mdi-close"></i></a></div>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>