:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  overflow: auto;
  display: flex;
  z-index: 100000000;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  transform: translateY(-100%);
  background-color: rgba(48, 56, 65, 0.5);
  transition: transform 0ms linear 300ms, opacity 300ms ease; }
  :host .dialog {
    min-width: 400px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    margin: 100px 20px 30px;
    background-color: #fff;
    transition: transform 300ms ease;
    transform: scale(0.8, 0.9); }
    :host .dialog .header {
      color: #737373;
      padding: 7px 20px;
      border-bottom: 1px solid #eee;
      background-color: rgba(232, 232, 232, 0.4);
      display: flex;
      flex-direction: row;
      align-items: center; }
      :host .dialog .header .title {
        flex: 1; }
      :host .dialog .header .close {
        width: 20px; }
        :host .dialog .header .close a, :host .dialog .header .close i {
          display: inline-block;
          height: 20px;
          font-size: 20px; }
    :host .dialog .content {
      padding: 20px; }
  :host.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease; }
    :host.show .dialog {
      transform: scale(1); }

/*# sourceMappingURL=modal.component.css.map */
