<modal [ngClass]="{show:show}" [title]="title" (onclose)="show = false">
    <div><ng-content></ng-content></div>
    <button class="btn green px-20" (click)="confirm()">بله</button>
    <button class="btn red px-20" (click)="onclose.emit()">خیر</button>
</modal>